footer.footer
	.wrapper
		.footer-cont
			.copy © 2018 Промышленные технологии
			.soc
				.soc-el
					a.soc__link(href="#" style="background-image: url('img/vk.svg')")
				.soc-el
					a.soc__link(href="#" style="background-image: url('img/facebook.svg')")
				.soc-el
					a.soc__link(href="#" style="background-image: url('img/instagram.png')")
			a.dev(href="http://xpage.ru" target="_blank")
				img.dev__img(src="img/ico-dev.png", alt="")







