header.head
	.head-cont
		.head-logo
			a(href="#")
				img(src="img/logo.png", alt="")
		nav.nav
			ul.nav__list
				li.nav__item
					a(href="#").nav__link.active О компании
				li.nav__item
					a(href="#").nav__link Почему именно мы?
				li.nav__item
					a(href="#").nav__link Наши работы
				li.nav__item
					a(href="#").nav__link Клиенты
				li.nav__item
					a(href="#").nav__link Контакты
		.head-phone
			.tel
				a(href="tel:88002227764") 8 800 222 77 64
			.head-link
				a(href="#form").fancybox Заказать звонок



	

		