$output-bourbon-deprecation-warnings: false
@import "bourbon"
@import "vars"
@import "base"
@import "functions"



// скролл баннер

.scroll-banner
    margin-top: 100px


    &__content
        position: relative
	

        .btn
            position: absolute
            bottom: 20px
            left: 20px

@media (max-width: 660px)

	.map-info-cont
		display: block !important
		.map-info
			.left
				display: none !important
			.right
				padding: 0 !important
				.top
					max-width: 60% !important
	.scroll-banner
		margin-top: 60px

@media (max-width: 450px)
	.map-info-cont
		.map-info
			.right
				flex-direction: column
				.top
					max-width: 100% !important
				.bot
					margin-left: 0 !important
					margin-top: 25px !important
	

.main-slider__nav
	.wrapper
		max-width: 100%

		
.main-slider__slide img
	height: auto !important

.slider-full
	margin: 0 -5px
	
	&__item
		margin: 0 5px

.projects
	&__title
		padding: 45px 
		
.slick-slide
	height: auto


.slider-full
	img
		width: auto
		height: auto

	// figure
	// 	display: flex 
	// 	flex-direction: column

	// img
	// 	//object-fit: initial
	// 	object-position: initial
	// 	width: initial

.head 
	&.js__scrolled
		box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.15)
		padding: 1.4rem 3.75rem 1.4rem

	
.nav__link
	cursor: pointer

.slider-nav
	&__item
		display: flex

	&__link
		font-size: rem(16)
		flex: 1 1 auto	
	

.about-gallery
	align-self: flex-start
	margin: 300px 0 0 auto

.forms
	max-width: 500px !important

	.gradient-btn
		border: 0
		background: $main-color 
		color: #fff 
		font-size: 18px
		padding: 15px 25px
.div-recaptcha
	display: flex 
	justify-content: center 

.contacts-form
	&__input
		&:not(:first-child)
			margin-top: 30px

	&__text
		margin-top: 20px
		text-align: center

	&__submit
		display: flex
		justify-content: center 

.forms-wrap--bot
	margin: 30px 0

.about-adv
	&__list

	&-item
		background-position: left 0 center
		background-repeat: no-repeat
		padding-left: 70px

		&:not(:first-child)
			margin-top: 15px


.slider-nav__link-footer
	text-decoration: none 
	color: #fff 

.more-info
	position: relative
	cursor: pointer
	color: $main-color
	pointer-events: auto
	display: flex 
	align-items: center

	&:after 
		content: ''
		display: inline-block
		margin: 0 0 0 10px 
		+size(5px)
		transform: rotate(45deg)
		border:  
			right: 1px solid $main-color 
			bottom: 1px solid $main-color 


.hidden.open-text

	+ .more-info

		&:after 
			transform: rotate(225deg)
		
.about
	.hidden 
		display: none

	&__text 
		pointer-events: all
		

.slider-nav__link
	padding: 22px 25px


		


@import "_grid"
@import "media"